@model IEnumerable<OdeToFood.Models.Restaurant>

<html>
<head>
    <title>OdeToFood</title>
</head>
<body>
    <h1>Welcome!</h1>

    <table>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
            </tr>
        }        
    </table>
</body>
</html>
